<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Engineer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card hoverable" style="border-radius: 25px;">
                <div class="blue-grey center-align white-text"
                    style="padding: 75px; border-radius: 25px; border: 15px solid white;">
                    <img src="../assets/devIcon.png" alt="">
                    <h4 id="name" style="margin-bottom: 15px;">Mike McMikerson</h4>
                    <h5>Engineer</h5>

                </div>
                <div class="card-content">
                    <ul>
                        <li id="id">id: 2</li>
                        <li id="email">email: mike@coolcompany.com</li>
                        <li id="github">github: coderMike</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>